.example-card {
  max-width: 400px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-left: 4%;
  padding-top: 5%;
  margin: 2%;
}

.icon {
  color: white;
}

.title {
  color: white;
  margin-right: 60%;
  padding-bottom: 20px;
  vertical-align: center;
}
.head {
  background-color: blue;
}

.demo-section {
  margin-top: 16px;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
}

.iconAccent {
  color: white;
}

.headAccent {
  background-color: #fb2576;
}

.titleAccent {
  color: white;
  margin-right: 60%;
  padding-bottom: 20px;
  vertical-align: center;
}

.iconWarn {
  float: right;
  color: white;
  padding-top: 4px;
}

.headWarn {
  background-color: #e0144c;
}

.titleWarn {
  color: white;
  margin-right: 60%;
  padding-bottom: 20px;
  vertical-align: center;
}
.p {
  align-items: center;
  margin-top: 10%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
}
img {
  width: 100%;
}
mat-card-content {
  padding: 0;
}
.cardActions {
  float: right;
  padding-top: 6%;
}
.fav {
  margin-right: 5px;
}
