.example-card {
  max-width: 400px;
}
.example-card1 {
  max-width: 400px;
  padding-bottom:3%;
}
.example-card2 {
  max-width: 400px;
  padding-bottom:0%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.icon{
  float: right;
  color: white;
  padding-top: 5px;
}
.head{
  background-color:#0002A1;
}
.title{
  color: white;
  margin-right: 60%;
  padding-bottom: 10px;
}
.demo-section  {
  margin-top: 16px;
  float: left;
  margin-left: 5%;
  margin-bottom: 5%;
}
.icon1{
  float: right;
  color: white;
  padding-top: 5px;
}
.head1{
  background-color:#FB2576;
}
.title1{
  color: white;
  margin-right: 60%;
  padding-bottom: 10px;
}
.icon2{
  float: right;
  color: white;
  padding-top: 5px;
}
.head2{
  background-color:#E0144C;
}
.title2{
  color: white;
  margin-right: 60%;
  padding-bottom: 10px;
}
.fav{
  float:right;
  padding-left: 60%;
}
.share{
  float:right;
  padding-left: 1%;
}
.fav1{
  float:right;
  padding-left: 75%;
  margin-top: 10%;
}
.share1{
  float:right;
  padding-left: 2%;
  margin-top: 10%;
}
.p{
  align-items: center;
  margin-top: 10%;
}