<div class="grid-container">
  <div class="grid-item">
    <mat-card class="example-card">
      <div class="head">
        <mat-card-header>
          <div class="title">
            <mat-card-title>Primary Card</mat-card-title>
          </div>
          <mat-icon class="icon">more_vert</mat-icon>
        </mat-card-header>
      </div>
      <mat-card-content class="content">
        <img mat-card-image src="../assets/workspace.jpg" alt="Workspace" />
        <p class="p">
          Workspace is a term used for the place in which you work, such as your
          desk in an office. A workstation is an area where work of a particular
          nature is carried out, such as using a desktop computer. With Condeco
          occupancy sensing, you can monitor how your workspaces are being used.
        </p>
      </mat-card-content>
      <mat-card-footer>
        <!-- <mat-card-actions> -->
        <div class="demo-section">
          <button
            mat-raised-button
            color="primary"
            matBadge="8"
            matBadgePosition="before"
            matBadgeColor="accent"
          >
            Likes
          </button>
        </div>
        <mat-card-actions class="cardActions">
          <div class="fav">
            <mat-icon>favorite</mat-icon>
          </div>
          <div class="share">
            <mat-icon>share</mat-icon>
          </div>
        </mat-card-actions>
        <!-- </mat-card-actions> -->
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card class="example-card">
      <div class="headAccent">
        <mat-card-header>
          <div class="titleAccent">
            <mat-card-title>Accent Card</mat-card-title>
          </div>
          <mat-icon class="iconAccent">more_vert</mat-icon>
        </mat-card-header>
      </div>
      <mat-card-content class="content">
        <img mat-card-image src="../assets/playstation.jpg" alt="PlayStation" />
        <p class="p">
          Playstation is a video game console developed by Sony. The first
          Playstation was released in 1994. The initial version of the console
          represented a significant improvement in terms of graphic quality over
          the existing cartridge players of Games encoded on CD-ROM
        </p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions class="cardActions">
          <div class="fav">
            <mat-icon>favorite</mat-icon>
          </div>
          <div class="share">
            <mat-icon>share</mat-icon>
          </div>
        </mat-card-actions>
        <!-- </mat-card-actions> -->
      </mat-card-footer>
    </mat-card>
  </div>

  <div class="grid-item">
    <mat-card class="example-card">
      <div class="headWarn">
        <mat-card-header>
          <div class="titleWarn">
            <mat-card-title>Warn Card</mat-card-title>
          </div>
          <mat-icon class="iconWarn">more_vert</mat-icon>
        </mat-card-header>
      </div>
      <mat-card-content class="content">
        <img mat-card-image src="../assets/xbox.jpg" alt="Xbox" />
        <p class="p">
          Xbox is a video gaming brand created and owned by Microsoft. The brand
          consists of five video game consoles, as well as applications (games),
          streaming services, an online service by the name of Xbox network, and
          the development arm by the name of Xbox Game Studios.
        </p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions class="cardActions">
          <div class="fav">
            <mat-icon>favorite</mat-icon>
          </div>
          <div class="share">
            <mat-icon>share</mat-icon>
          </div>
        </mat-card-actions>
        <!-- </mat-card-actions> -->
      </mat-card-footer>
    </mat-card>
  </div>
</div>
